# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.*

# Frontend
frontend/build/
frontend/coverage/
frontend/dist/
frontend/node_modules/

# Backend
backend/node_modules/
backend/dist/
backend/tmp/
backend/out-tsc/
backend/bazel-out/

# Misc
.DS_Store
*.swp
*.swo